[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
nltk =  "*"
spacy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
pandas = "*"
scipy = "*"
sympy = "*"

[dev-packages]

[requires]
python_version = "3.6"
